@import "vars.scss";

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  background: linear-gradient(90deg, rgb(152, 234, 216) 22%, rgb(100, 212, 65) 72%);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

//blocks
@import "blocks/comments.scss";
@import "blocks/comment.scss";
@import "blocks/form.scss";

//media
@import "media.scss";